{% extends "base.html" %}

{% block meta %}
    <title>Login Page</title>
{% endblock meta %}

{% block content %}
<body>
    <section class = "container" style=" background-image: url('https://i.postimg.cc/wjShNrR5/Untitled-design-2.png'); background-size: cover; background-position: center;">
        <div class="container mt-3">
            <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header text-center text-bold" style=" background-color: #cfe0eb">Login</div>
                        <div class="card-body">
                            <form method="post" action="{% url 'main:login' %}">
                                {% csrf_token %}
                                <div class="mb-3 text-center">
                                    <input type="text" class="form-control" id="username" name="username" required placeholder="User Name">
                                </div>
                                <div class="mb-3 text-center"> 
                                    <input type="password" class="form-control" id="password" name="password" required placeholder="password">
                                </div>
                                <div class="text-center"> 
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center" style=" background-color: #cfe0eb">
                            <p>Don't have an account? <a href="{% url 'main:register' %}">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

{% endblock content %}