{% extends 'base.html' %}

{% block content %}
<style>
    *{
        text-align: center;
    }

    body {
        background-color: #cfe0eb; 
    }

    .custom-title{
        margin-top: 50px;
        font-family: Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .edit-button{
        background-color: blue;
        color: black;
        margin: 5px;
    }

    .delete-button{
        background-color: red;
        color: black;
        margin: 5px;        
    }

    .custom-card {
        width: 300px; 
        margin: 20px; /* Adjust the margin as needed */
        padding: 15px;
        background-color: #fff; /* Card background color */
        border: 1px solid #ddd;
        border-radius: 5px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <span class="navbar-text">Hi, {{ name }}</span>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'main:logout' %}" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex justify-content-center">
    <h1 class="custom-title">salmathlon: Your Ultimate Sports Shopping Destination</h1>
</div>

<div class="d-flex flex-wrap justify-content-center" id="product_container"></div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Add Product by AJAX</button>

<br/>

<h5 class="text-center">Sesi terakhir login: {{ last_login }}</h5>

<div class="d-flex justify-content-center">
    <a href="{% url 'main:create_product' %}" class="btn btn-primary">
        Add New Product
    </a>
</div>

<div class="d-flex flex-wrap justify-content-center" id="product_container"></div>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_container").innerHTML = ""
        const products = await getProducts()

        products.forEach((item) => {
        const card = document.createElement("div");
        card.classList.add("custom-card");

        const name = document.createElement("h4");
        name.textContent = item.fields.name;

        const amount = document.createElement("p");
        amount.textContent = `Amount: ${item.fields.amount}`;

        const description = document.createElement("p");
        description.textContent = item.fields.description;

        const editButton = document.createElement("button");
        editButton.textContent = "Edit";
        editButton.classList.add("edit-button");
        editButton.addEventListener("click", () => {
            window.location.href = `edit-product/${item.pk}`;
        });


        const deleteButton = document.createElement("button");
        deleteButton.textContent = "Delete";
        deleteButton.classList.add("delete-button");
        deleteButton.addEventListener("click", () => {
            window.location.href = `delete/${item.pk}`;
        });

        card.appendChild(name);
        card.appendChild(amount);
        card.appendChild(description);
        card.appendChild(editButton);
        card.appendChild(deleteButton);

        document.getElementById("product_container").appendChild(card);
        });
    }

    refreshProducts();

    function addProduct() {
        fetch("{% url 'main:create_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset();
        return false;
    }

    document.getElementById("button_add").onclick = addProduct;
</script>


{% endblock content %}
